body {
  background-color: black;
  color: rgb(199, 182, 214);
  text-align: center;
}

.singlePup {
  border: white solid 2px;
  padding: 10px;
  width: 30%;
  margin: auto;
}

.puppyName:hover {
  color: yellow;
  text-decoration: underline;
}
